#news {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 760px) {
       flex-direction: column;
       width: 100%;

    }
        
    
    article {
        width: 30%;
        @media screen and (max-width: 760px) {
            width: 100%;

        }
      img {
          width: 100%;
      } 
     &:nth-child(2) {
         padding-left: 15px;
         padding-right: 15px;
         border: 3px solid rgb(226, 11, 11);
         @media screen and (max-width: 760px) {
            order: -1;

         }
     }
    }
    
}